body {
    background-color: #111;
    color: #ffcc00;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.video-container {
    border: 4px solid #ffcc00;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}
